:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: var(--off-white);
  font-family: 'Poppins', sans-serif;
}

.mainContainer {
  background-color: var(--white);
  width: 18rem;
  height: 25rem;
  padding: 1rem;
  margin: 4rem 0;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainContainer__form {
  margin: 1.25rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__fields {
  display: flex;
  justify-content: space-between;
}

.fields {
  display: flex;
  flex-direction: column;
}

.fields__label {
  color: var(--smokey-grey);
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 3px;
}

.fields__input {
  font-size: 1.25rem;
  font-weight: 800;
  width: 4rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  caret-color: var(--purple);
  color: var(--off-black);
  border: 1px solid var(--light-grey);
}

.fields__input:focus {
  border-color: var(--purple);
  outline: var(--purple);
}

.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 0.5px solid var(--light-grey);
  margin: 3rem 0 0.5rem;
}

#button {
  background-color: var(--purple);
  border-style: none;
  cursor: pointer;
  transition: 1s;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  color: var(--white);
}

#button:hover {
  background-color: var(--off-black);
}

.mainContainer__result {
  font-size: 2.5rem;
  font-weight: 800;
  font-style: italic;
}

.result__data {
  color: var(--purple);
}

.footer { 
  font-size: 1rem; 
  text-align: center;
  padding: 0.5rem 3rem;
  position: fixed;
  bottom: 0;
}

.footer__link { 
  color: var(--purple);
  text-decoration: none;
  transition: 1s;
}

.footer__link:hover {
  color: goldenrod;
}

@media screen and (min-width: 768px) {
  .mainContainer {
    width: 32rem;
    padding: 2.5rem;
  }

  .form__fields {
    justify-content: start;
    gap: 1rem;
  }

  .fields__input {
    width: 7rem;
  }

  .form__button {
    justify-content: end;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0;
  }

  .mainContainer__result{
    font-size: 4rem;
  }

  .footer {
    font-size: 1.5rem;
  }
}