

.mainContainer__form {
  margin: 1.25rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__fields {
  display: flex;
  justify-content: space-between;
}

.fields {
  display: flex;
  flex-direction: column;
}

.fields__label {
  color: var(--smokey-grey);
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 3px;
}

.fields__input {
  font-size: 1.25rem;
  font-weight: 800;
  width: 4rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  caret-color: var(--purple);
  color: var(--off-black);
  border: 1px solid var(--light-grey);
}

.fields__input:focus {
  border-color: var(--purple);
  outline: var(--purple);
}

.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 0.5px solid var(--light-grey);
  margin: 3rem 0 0.5rem;
}

#button {
  background-color: var(--purple);
  border-style: none;
  cursor: pointer;
  transition: 1s;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  color: var(--white);
}

#button:hover {
  background-color: var(--off-black);
}

.mainContainer__result {
  font-size: 2.5rem;
  font-weight: 800;
  font-style: italic;
}

.result__data {
  color: var(--purple);
}

@media screen and (min-width: 768px) {

  .form__fields {
    justify-content: start;
    gap: 1rem;
  }

  .fields__input {
    width: 7rem;
  }

  .form__button {
    justify-content: end;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0;
  }

  .mainContainer__result{
    font-size: 4rem;
  }
}